:root {
  /*--bg-hero: url(/images/bg-hero.png);*/
  --body-color: #212529;
  --body-color2: #202020;
  --body-bg-color: #fff;
  --code-fg: #333;
  --code-bg: #f9f9f9;
  --code-bg-border: #dddddd;
  --code-bg-tab: #f9f9f9;
  --search-bg: #fff;
  --search-fg: #999;
  --search-active-bg: #0e6ea1;
  --search-active-fg: #fff;
  --search-border: #0e84b5;
  --fg-banner: #999;
  --fg-banner-nav: #666;
  --bg-banner: #f9f9f9; /* e4edf0 #0e84b5 */
  --bg-banner2: #eee;
  --bg-sidenav: #f9f9f9;
  --bg-sidenav-border: #eee;
  --fg-article: #d07f34;
  --fg-link1-color: #0e84b5;
  --fg-link1Visit-color: #0e6ea1;
  --fg-btn:  #f9f9f9;
  --bg-btn:  #d07f34;
  --bg-btn-border: #f9f9f9;
  --fg-placeholder: #bbb;
  --bg-footer: #dddddd;
  --hr-color: #ddd;
}
[data-theme="dark"] {
  /*--bg-hero: url(/images/bg-hero-dark.png);*/
  --bg-banner: #2b2b2b;
  --bg-banner2: #333;
  --fg-banner: #999;
  --fg-banner-nav: #888;
  --body-color: #bbb;
  --body-color2: #fff;
  --body-bg-color: #2d2d2d;
  --code-bg: #303030;
  --code-bg-border: #505050;
  --code-bg-tab: #636363;
  --code-fg: #ccc;
  --search-bg: #363636;
  --search-fg: #666;
  --search-active-bg: #0e85be;
  --search-active-fg: #fff;
  --fg-link1-color: #0e9ccf;
  --fg-link1Visit-color: #0e85be;
  --bg-sidenav: #2b2b2b;
  --bg-sidenav-border: #333;
  --fg-btn:  #f9f9f9;
  --bg-btn:  #d07f34;
  --bg-btn-border: #555;
  --fg-placeholder: #555;
  --bg-footer: #202020;
  --hr-color: #444;
}

body {
  margin: 0 auto;
}
hr {
  border: 1px solid var(--hr-color);
}
table.compact td, table.compact th {
  vertical-align: top;
  padding: 0 0.3rem 0 0.3rem;
}
.mtx {
  margin-top: 5rem;
}
.mtl {
  margin-top: 3rem;
}
.mtm {
  margin-top: 2rem;
}
.w100 {
  width: 100%;
}
table.compact th {
  font-weight: bold;
  text-align: right;
}
table.table td, table.table th {
  vertical-align: top;
  padding: 1rem;
}
table.compact.norm th {
  text-align: left;
}
article>h2[id]::before, article>h3[id]::before, article>h4[id]::before {
  display: block;
  height: 6rem;
  margin-top: -6rem;
  visibility: hidden;
  content: "";
}
#banner header, #footer div {
  /*max-width: 90rem;*/
  /*margin: 0 auto;*/
  padding: 0.3rem 1rem 0.3rem 1rem;
}
footer#footer {
  background-color: var(--bg-footer);
  min-height: 5rem;
}
.grid {
  max-width: 90rem;
  grid-gap: 1em;
  /*margin: 0 auto;*/
  display: grid;
  grid-template-columns: auto 20rem;
}
.g2 {
  grid-template-columns: 1fr 1fr;
}
.g3 {
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-docs {
  grid-template-columns: 20rem auto;
}
.grid-docs aside {
  background-color: var(--bg-sidenav);
  border-right:1px solid var(--bg-sidenav-border);
}
.grid-docs article {
  max-width: 55rem;
  padding-bottom: 2rem;
}
.col {
  padding: 1rem;
}
.c-narrow {
  max-width: 45em;
  margin: 0 auto;
}
.c-narrow section {
  display: grid;
  grid-gap: 1em;
  grid-template-columns:12em auto;
}
.c-narrow section .col:first-child {
  text-align: right;
}

header, aside, article, footer {
  padding: 1em;
}

header, footer {
  grid-column: 1 / 3;
  align-items: center;
  justify-content: center;
}

#hero {
  /*color: var(--fg-banner);*/
  /*background-color: #132d45;*/
  /*background-image: var(--bg-hero);*/
  text-align: center;
  padding: 2rem;
  margin-bottom: 1.5rem;
}
#home-article {
  margin: 0 auto;
  max-width: 60rem;
}
.summary aside {
  padding-right: 6rem;
}
#hero h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 4rem;
  text-align: center;
}
/*#hero h2 {*/
/*  !*color: var(--body-color);*!*/
/*}*/
#hero .links h4 {
  display: inline-block;
  padding: 1rem;
}
#home-article h3, h3.highlight {
  color: var(--fg-article);
}
#sponsors {
  margin-top: 4rem;
}
a.sponsor {
  display: inline-block;
  padding: 15px;
}
body {
  color: var(--body-color);
  background-color: var(--body-bg-color);
}
a {
  color: var(--fg-link1-color);
}
a:visited {
  color: var(--fg-link1Visit-color);
}
div.syntax div.highlight pre {
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  background-color: var(--code-bg);
  border: 1px solid var(--code-bg-border);
}
code {
  color: var(--code-fg);
  background: var(--code-bg);
  font-size: 0.8rem;
  padding: 0.2rem;
}
#banner {
  background-color: var(--bg-banner);
  border-bottom: 1px solid var(--bg-banner2);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
}
nav.side {
  position: -webkit-sticky;
  position: sticky;
  top: 4rem;
  z-index: 900;
}
nav.side ul {
  padding-left: 0.5rem;
}
nav.side ul li {
  list-style: none;
  padding: 0.2rem 0 0.2rem 0.3rem;
  border-left: 3px solid;
  border-color: transparent;
}
nav.side a.active {
  font-weight: bold;
  color: var(--fg-article);
}
ul.nav-scroll li.active {
  border-left: 3px solid var(--fg-article);
}
nav.side {
  font-size: 0.83rem;
}
nav#top div {
  display: flex;
}
nav#top {
  display: flex;
  flex-direction: row;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
}
nav#top ul {
  flex-direction: row;
  margin: 0 0 0 auto;
}
nav#top ul li {
  list-style: none;
  display: inline-block;
}
nav#top ul li a, nav#top ul li a:visited {
  display: block;
  padding: .5rem 1rem;
  text-decoration: none;
  color: var(--fg-banner-nav);
}
nav.next {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
}
nav.next p.next {
  margin: 0 0 0 auto;
}
.nav-tabs {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav-tabs:before {
  display: table;
  content: " ";
}
.nav-tabs:after {
  display: table;
  content: " ";
  clear: both;
}
.nav-tabs > li {
  float: left;
  display: inline-block;
  padding: 0.1rem 0.8rem 0 0.8rem;
  border-radius: 5px 5px 0 0;
  border: 1px solid var(--code-bg-border);
  border-bottom: none;
  margin-bottom: -1px;
  font-size: 0.7rem;
}
.nav-tabs > li.active {
  background-color: var(--code-bg);
}
.nav-tabs > li:hover {
  background-color: var(--code-bg-tab);
  cursor: pointer;
}
.syntax pre {
  font-size: 0.8rem;
}

.btn {
  display: inline-block;
  padding: 0.3rem 0.6rem;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid;
  border-radius: 4px;
  color: var(--fg-btn);
  background-color: var(--bg-btn);
  border-color: var(--bg-btn-border);
}
.btn:visited {
  color: var(--fg-btn);
}
.btn:hover {
  background-color: var(--fg-link1-color);
}
#breadcrumb, #breadcrumb a, #breadcrumb a:visited {
  color: var(--fg-banner-nav);
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  text-transform: lowercase;
}
.nav-index {
  margin-top: 3rem;
}
.nav-index h4 {
  font-size: 0.9rem;
  font-weight: normal;
}
.nav-index hr {
  margin-top: 3rem;
}

.search-input {
  display: flex;
  flex-direction: row;
}
.search-results-inline-container {
  position: absolute;
  /*background: #ccc;*/
  width: 40rem;
}
article h2, article h2 a, article h2 a:visited {
  color: var(--fg-article);
  margin-top: 4rem;
  font-size: 2rem;
}
article h2:first-of-type {
  margin-top: 2rem;
}
article h3, article h4 {
  color: var(--body-color2);
  font-weight: normal;
}
::placeholder {
  color: var(--fg-placeholder);
  opacity: 1;
}
:-ms-input-placeholder {
  color: var(--fg-placeholder);
}
::-ms-input-placeholder {
  color: var(--fg-placeholder);
}
#page-search .input-group {
  display: flex;
  flex-direction: row;
  /*margin-bottom: 1.5rem;*/
}

/*#searchinput:focus {*/
/*  border-color: #66afe9;*/
/*  !*outline: 0;*!*/
/*  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);*/
/*  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);*/
/*}*/
#page-search .frm {
  box-shadow: none;
  border: 1px solid var(--code-bg-border);
  border-radius: 0;
  height: 1.8rem;
  font-size: 0.7rem;
  background-color: var(--body-bg-color);
  color: var(--code-fg);
}
#page-search button.frm {
  color: var(--fg-placeholder);
}
#searchinput {
  width: 99%;
  padding: 0.5rem;
}
#searchinput:focus {
  border-color: var(--search-border);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

#page-search-results {
  position: relative;
}

#search-results-container {
  background: var(--search-bg);
  color: var(--search-fg);
  position: absolute;
  text-align: left;
  border: 1px solid var(--search-border);
  width: 100%;
  padding: 0.3rem 0.6rem;
  border-top: none;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  z-index: 1000;
  list-style-type: none;
}

#search-results-container:empty {
  display: none;
}
#search-results-container li a {
  padding: 0.3rem;
  display: block;
  width: 100%;
}
#search-results-container li.active {
  background: var(--search-active-bg);
  color: var(--search-active-fg);
}
#search-results-container li.active a,
#search-results-container li.active a:visited {
  color: var(--search-active-fg);
}

#search-results-container li.google-search {
  border-top: 1px dotted #eee;
}
#search-results-container li.google-search:only-child {
  border-top: none;
}
#search-results-container li.google-search a {
  color:#999;
}
#search-results-container li.google-search a code {
  color:#3b5998;
}

.initials {
  position: relative;
  top: 11px;
  font-size: 20px;
  line-height: 22px;
  color: #fff;
  font-family: "Courier New", monospace;
  font-weight: bold;
}
.initials.small {
  font-size: 13px;
}
.avatar-name {
  position: relative;
  top: 11px;
}
.avatar-gap {
  display: inline-block;
  width: 20px;
}
.avatar-circle {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #337ab7;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}

@media all and (max-width: 1000px) {
  aside, article {
    grid-column: 1 / 3;
  }
  .grid-docs aside {
    display: none;
  }
}
