@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(//themes.googleusercontent.com/static/fonts/ptsans/v6/LKf8nhXsWg5ybwEGXk8UBQ.woff) format('woff');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url(//themes.googleusercontent.com/static/fonts/ptsans/v6/0XxGQsSc1g4rdRdjJKZrNBsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
  src: local('PT Sans Italic'), local('PTSans-Italic'), url(//themes.googleusercontent.com/static/fonts/ptsans/v6/PIPMHY90P7jtyjpXuZ2cLD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 700;
  src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url(//themes.googleusercontent.com/static/fonts/ptsans/v6/lILlYDvubYemzYzN7GbLkHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

a.anchor{display: block; position: relative; top: -60px; visibility: hidden;}

html, body {height: 100%;}

#wrap {min-height: 100%;}

#main {overflow:auto;
	padding-bottom: 110px;}  /* must be same height as the footer */

#footer {position: relative;
	margin-top: -110px; /* negative value of footer height */
	height: 110px;
	clear:both;}

.locationBar {
    border-top:1px solid #333;
    background-image: url(/images/px_by_greg.png);
    padding:5px 10px 15px 10px;
}
h1 a {
   color: #333;
}
.locationBar h1 a, .locationBar h1 {
    font-size:20px;
    color: #9d9d9d;
}
.mobile-nav {
    display:none;
    margin-right: -15px;
    margin-left: -15px;
    border-top:1px solid #444;
}
.mobile-nav .sideNav {
    padding: 10px;
}
.mobile-nav .sideNav .nav .nav {
    display:none;
}
.mobile-nav.collapse.in {
    display:block;
}

/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/
}

html {
  overflow-y: scroll;
}
/*body {*/
  /*padding-top: 50px;*/
/*}*/
.highlight {
  text-align: left;
}
.navbar {
  border-radius: 0;
  margin-bottom: 0;
}
.navbar-nav>li.active {
  border-bottom: 3px solid #417888;
}
.navbar-nav>li.active>a {
  padding-bottom:12px;
}
.sideNav>.navbar-nav>li.active {
    border-bottom: none;
    border-left: 7px solid orange;
}
.starter-template {
  padding: 20px 15px;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700; }

h2 {
  margin-top: 30px;
}
pre {
  border: 1px solid #ddd;
}

.erk {
  font-size: 36px;
  /*font-size: 2rem;*/
  color: #f57a1b;
  text-shadow: 3px 0 3px rgba(0, 0, 0, 0.1), 2px 0 2px rgba(0, 0, 0, 0.1), 1px 0 1px rgba(0, 0, 0, 0.1);
}

.jumbotron a {
  color: #333;/*#337ab7;*/
}
.jumbotron a:hover {
    color: #2D4B65;/*#337ab7;*/
}

.jumbotron {
  border-radius: 0;
  text-align: center;
  margin-bottom: 0;
}
.jumbotron h1 {
    font-size: 36px;
    margin-bottom: 10px;
    text-shadow: 3px 0 3px rgba(0, 0, 0, 0.1), 2px 0 2px rgba(0, 0, 0, 0.1), 1px 0 1px rgba(0, 0, 0, 0.1); }
.jumbotron h2 {
    line-height: 30px;
    font-size: 24px;
    margin: 0;
    font-weight: 400; }

.jumbotron-sub {
  text-align: center;
  padding: 20px; }
  .jumbotron-sub p {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 0; }

.jumbotron {
  background-color: #fff;
  /*xx-background-color: #2D3150;*/
  /*box-shadow: rgba(255, 255, 255, 0.8) 0 1px 0, inset rgba(0, 0, 0, 0.05) 0 1px 0;*/
  /*xx-background-image: url(/images/px_back.png);*/
}

.jumbotron.mini {
  padding: 15px;
  margin-bottom: 15px;
  text-align: left;
}
.jumbotron p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
}

@media screen and (min-width: 768px) {
  .jumbotron.mini {
    padding-top: 0;
    padding-bottom: 12px;
  }
  .container .jumbotron.mini {
    padding-right: 20px;
    padding-left: 20px;
  }
  .jumbotron.mini h1,
  .jumbotron.mini .h1 {
    font-size: 25px;
  }
  .jumbotron.mini h2 {
    font-size: 18px;
  }
}

/* make sidebar nav vertical */
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}
.main-pg-idx {
  padding-top: 50px;
}
.main-pg-idx h4 {
  font-size: 20px;
}
.main-pg-idx ul {
  list-style: none;
}
.nav-btn-rhs li {
  /*font-size: 25px;*/
}
.navbar-brand {
  padding-top: 10px;
}
.nbr {
  color: #919191;
}
.sidebar-nav .navbar li>a {
  font-weight: 900;
  color: #444;
}
.sidebar-nav .navbar-nav>li.active {
  border-bottom: 0px solid orange;
}

.doc-index h4 span.glyphicon {
  color:orange;
  font-size: 15px;
}

footer {
  margin-top:30px;
  padding:15px;
  border-top:1px solid #ccc;
  background: #eee;
}
.doc-footer-links li {
 display: inline;
 padding: 0 2px;
}

.doc-footer-links {
  margin-top: 20px;
  padding-left: 0;
  color: #999;
}
.doc-footer {
  color: #777;
  text-align: center;
}

.btn-info {
  color: #fff;
  background-color: #f27818;
  border-color: #f27899;
}

.bs-callout-info {
  background-color: #f4f8fa;
  border-color: #5bc0de;
}
.bs-callout {
  margin: 20px 0;
  padding: 20px;
  border-left: 3px solid #eee;
}
.bs-callout h4 {
 margin-top: 0;
 margin-bottom: 5px;
}

.bs-callout-danger {
 background-color: #fdf7f7;
 border-color: #d9534f;
}
.bs-callout-info {
 background-color: #f4f8fa ;
 border-color: #69B3C9;
}
.bs-callout-info h4 { color: #417888;}
.bs-callout-danger h4 { color: #d9534f;}

.icon-info .glyphicon {
 color: #417888;
}

.syntax {
  font-weight:700;
}
.syntax.java pre {
  background: #F6F6F6;
}
.syntax.sql pre {
  background: #F6F6F6;
}
.syntax.properties pre {
  background: #F6F6F6;
}

.support h2 i.fa {
  color:#417888;//#428bca;//orange;//#85198A;
}
.support h4 i.fa {
  color:#417888;
  margin-right: 5px;
  margin-left: 5px;
}

.page-content h2 {
    margin-top:60px;
}
.page-content h3 {
    margin-top:50px;
}
.page-content p, .page-content li {
    max-width:700px;
}
.side-bar {
    margin-left: 30px;
}
.side-bar h5 {
    padding-top: 50px;
    font-size: 18px;
}
.side-bar ul {
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
}
.side-nav li {
    font-size: 16px;
    padding-left: 5px;
    margin-top: 10px;
}

.side-nav li.active {
}
.side-nav li i {
    font-size: 13px;
}
.side-nav li.active a {
    color: black;
}
a.nav-link {
    font-weight: bold;
}

.mvl {
    margin-top:40px;
    margin-bottom:40px;
}
.mvm {
    margin-top:25px;
    margin-bottom:25px;
}
.mbm {
    margin-bottom:25px;
}
.mtl {
    margin-top: 50px;
}
.mtm {
    margin-top: 25px;
}
.mts {
    margin-top: 10px;
}

.intro p {
    margin-left:20px;
}
pre.console {
    background: #111;
    color:#eee;
    font-weight: 600;
}
.index-page ul {
    padding-left:20px;
}
.page-components .syntax.xml {
    max-width: 700px;
}
.max-700 {
    max-width: 700px;
}





/*
 * Side navigation
 *
 * Scrollspy and affixed enhanced navigation to highlight sections and secondary
 * sections of docs content.
 */

/* By default it's not affixed in mobile views, so undo that */
.bs-docs-sidebar.affix {
  position: static;
}
@media (min-width: 768px) {
  .bs-docs-sidebar {
    padding-left: 20px;
  }
}

/* First level of nav */
.bs-docs-sidenav {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* All levels of nav */
.bs-docs-sidebar .nav > li > a {
  display: block;
  padding: 2px 20px;
  font-size: 13px;
  font-weight: 500;
  color: #767676;
}
.bs-docs-sidebar .nav > li > a:hover,
.bs-docs-sidebar .nav > li > a:focus {
  padding-left: 19px;
  color: #563d7c;
  text-decoration: none;
  background-color: transparent;
  border-left: 1px solid #563d7c;
}
.bs-docs-sidebar .nav > .active > a,
.bs-docs-sidebar .nav > .active:hover > a,
.bs-docs-sidebar .nav > .active:focus > a {
  padding-left: 18px;
  font-weight: bold;
  color: #563d7c;
  background-color: transparent;
  border-left: 2px solid #563d7c;
}

/* Nav: second level (shown on .active) */
.bs-docs-sidebar .nav .nav {
  display: none; /* Hide by default, but at >768px, show it */
  padding-bottom: 10px;
}
.bs-docs-sidenav li b {
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 1px;
  padding-left: 20px;
  font-size: 14px;
}
.bs-docs-sidebar .nav .nav > li > a {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 30px;
  font-size: 12px;
  font-weight: normal;
}
.bs-docs-sidebar .nav .nav > li > a:hover,
.bs-docs-sidebar .nav .nav > li > a:focus {
  padding-left: 29px;
}
.bs-docs-sidebar .nav .nav > .active > a,
.bs-docs-sidebar .nav .nav > .active:hover > a,
.bs-docs-sidebar .nav .nav > .active:focus > a {
  padding-left: 28px;
  font-weight: 500;
}

/* Back to top (hidden on mobile) */
.back-to-top,
.bs-docs-theme-toggle {
  display: none;
  padding: 4px 10px;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 12px;
  font-weight: 500;
  color: #999;
}
.back-to-top:hover,
.bs-docs-theme-toggle:hover {
  color: #563d7c;
  text-decoration: none;
}
.bs-docs-theme-toggle {
  margin-top: 0;
}

@media (min-width: 768px) {
  .back-to-top,
  .bs-docs-theme-toggle {
    display: block;
  }
}

/* Show and affix the side nav when space allows it */
@media (min-width: 992px) {
  .bs-docs-sidebar .nav > .active > ul {
    display: block;
  }
  /* Widen the fixed sidebar */
  .bs-docs-sidebar.affix,
  .bs-docs-sidebar.affix-bottom {
    width: 213px;
  }
  .bs-docs-sidebar.affix {
    position: fixed; /* Undo the static from mobile first approach */
    top: 60px;
  }
  .bs-docs-sidebar.affix-bottom {
    position: absolute; /* Undo the static from mobile first approach */
  }
  .bs-docs-sidebar.affix-bottom .bs-docs-sidenav,
  .bs-docs-sidebar.affix .bs-docs-sidenav {
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  /* Widen the fixed sidebar again */
  .bs-docs-sidebar.affix-bottom,
  .bs-docs-sidebar.affix {
    width: 263px;
  }
}
#search-input {
    margin-top: 15px;
}
.row-space .row {
    padding-bottom: 20px;
}
.media.todo .media-heading {
    color:grey;
    /*text-decoration: line-through;*/
}
.media.todo .media-body {
    color:grey;
    /*text-decoration: line-through;*/
}
.header-links h3 a {
    color: rgb(51, 51, 51);
}
.line-bold {
    border-top: 4px solid #ccc;
}
.next {
    margin-top: 30px;
    margin-bottom:20px;
}
ul.nav.bs-docs-sidenav li.sub-menu {
    margin-left:7px;
}
.docs-index h3 {
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 7px;
}
.edit-page {
    padding-top:30px;
    padding-bottom:30px;
}
div#main h2.htop {
  margin-top: 25px;
}
div#main h4 {
  margin-top: 25px;
}

#nav-logo {
  width: 50px;
}
#searchinput {
  /*width: 300px;*/
}
#nav-search {
  padding-top: 15px;
  /*max-width: 500px;*/
}
.page-inline-search {
  margin-top: 10px;
}
.search-results-inline-container {
  position: relative;
}

.search-results-inline-container .search-results {
  background: white;
  position: absolute;
  border: 1px solid #f0f0f0;
  width: 100%;
  padding: 4px 8px;
  border-top: none;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
  z-index: 1000;
}

.search-results-inline-container .search-results li {

}

.search-results-inline-container ul {
  list-style-type: none;
}

.search-results-inline-container .search-results li a {
  color: #203060;
}

.search-results-inline-container .search-results:empty {
  display: none;
}

.search-results-inline-container .search-results li.google-search {
  border-top: 1px dotted #eee;
}

.search-results-inline-container .search-results li.google-search:only-child {
  border-top: none;
}


.search-results-inline-container .search-results li.google-search a {
  color:#999;
}

.search-results-inline-container .search-results li.google-search a code {
  color:#3b5998;
}

.search-results li.active {
  background: #eee;
}

#search-results-container li a {
  display: block;
  width: 100%;
}
a.bright-link {
  color: #f57a1b;
}
.erkbg .syntax.java pre {
  background: #fff;
}
.erkbg {
  background: #f6f6f6;
  border-top:1px solid #ccc;
  border-bottom:1px solid #ccc;
  padding:5px 10px 15px 10px;
}

#header {
  background-color: #fff;
  z-index: 100;
  border-bottom: 1px solid #eee;
}
/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.stickyRhs {
  position: fixed;
  top: 60px;
  /*width: 100%*/
}

/*!* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) *!*/
.sticky + #main {
  padding-top: 50px;
}
